@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-image: url(fotos-de-supermercados-brhr0v0zqqxvtafp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 13px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #af4c6d;
    margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="nome"],
input[type="quantidade"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

ul#lista-itens {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

ul li {
    padding: 8px 12px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #e0e0e0;
}

ul li.riscado {
    text-decoration: line-through;
    color: #888;
}

button {
    flex: 1;
    background-color: #af4c6d;
    color: white;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9e3c5d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (max-width: 480px) {
  section {
      width: 85%;
      padding: 20px;
  }

  input {
      font-size: 14px;
      padding: 8px;
      width: 100%;
  }

  button {
      font-size: 13px;
      padding: 10px;
      width: 100%;
      margin-top: 5px;
  }

  .botoes {
      flex-direction: column;
  }
}
